<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team4.myapp.cause.dao.ICauseRepository">
	<insert id="insertCause" parameterType="com.team4.myapp.cause.model.Cause">	
		INSERT INTO CAUSE(CAUSE_ID, CONTENT, STATUS, CATEGORY_ID, ATTENDANCE_ID, MEMBER_ID
			<if test="fileData != null">,FILE_DATA, FILE_NAME, FILE_SIZE, FILE_CONTENT_TYPE</if>
		) VALUES (
			cause_seq.nextval, #{content}, 1, #{categoryId}, #{attendanceId}, #{memberId}
			<if test="fileData != null">, #{fileData}, #{fileName}, #{fileSize}, #{fileContentType}</if>
		)	
	</insert>
</mapper>