<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team4.myapp.cause.dao.ICauseRepository">

	<insert id="insertCause" parameterType="com.team4.myapp.cause.model.Cause">	
		INSERT INTO CAUSE(CAUSE_ID, CAUSE_CONTENT, CAUSE_STATUS, CATEGORY_ID, ATTENDANCE_ID, MEMBER_ID
			<if test="fileData != null">,FILE_DATA, FILE_NAME, FILE_SIZE, FILE_CONTENT_TYPE</if>
		) VALUES (
			cause_seq.nextval, #{content}, 0, #{categoryId}, #{attendanceId}, #{memberId}
			<if test="fileData != null">, #{fileData}, #{fileName}, #{fileSize}, #{fileContentType}</if>
		)	
	</insert>
	
	<select id="selectCauseCount" parameterType="string" resultType="int">
		<![CDATA[
			SELECT COUNT(*) AS "count" FROM CAUSE WHERE MEMBER_ID=#{memberId}
		]]> 
	</select>
	
	<select id="selectCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) AS count FROM CAUSE
		]]>
	</select> 
	
	<select id="selectCauseList" parameterType="map" resultType="com.team4.myapp.cause.model.dto.CauseListDto">
		<![CDATA[
			SELECT bb.CAUSE_ID 	AS		causeId,
	        		WRITE_DATE 	AS 		writeDate,
	        		ATTENDANCE_DATE 	AS		attendanceDate,
	        		CAUSE_CONTENT		AS 		content,
	        		CATEGORY_ID		AS 		categoryId,
	       			bb.MEMBER_ID		AS 	memberId,
	       		 	bb.ATTENDANCE_STATUS 	AS attendanceStatus,
	       			bb.CAUSE_STATUS 		AS 		causeStatus,
	        		RNUM+1 AS seq
					FROM( SELECT aa.CAUSE_ID, aa.WRITE_DATE, aa.ATTENDANCE_DATE, aa.CAUSE_CONTENT, CATEGORY_ID, aa.MEMBER_ID, ATTENDANCE_STATUS, CAUSE_STATUS, ROWNUM AS RNUM
	            		FROM (
	                		SELECT  CAUSE_ID, CAUSE.WRITE_DATE, to_char(ATTENDANCE_DATE,'yyyy-MM-dd') AS ATTENDANCE_DATE, CAUSE.CAUSE_CONTENT, CATEGORY_ID, CAUSE.MEMBER_ID, ATTENDANCE.ATTENDANCE_STATUS, CAUSE.CAUSE_STATUS
	                		FROM CAUSE, ATTENDANCE
	                		WHERE ATTENDANCE.ATTENDANCE_ID = CAUSE.ATTENDANCE_ID and CAUSE.MEMBER_ID = #{memberId}
	                		ORDER BY CAUSE_ID DESC
	                	) aa
	        		) bb
			WHERE RNUM BETWEEN #{start} AND #{end}
		]]>
	</select>
	
	<select id="selectCauseAdmin" resultType="com.team4.myapp.cause.model.dto.CauseListDto">
		<![CDATA[
				SELECT bb.CAUSE_ID 	AS	causeId,
	        		WRITE_DATE 	AS 		writeDate,
	        		CAUSE_CONTENT		AS 		content,
	        		CATEGORY_ID		AS 		categoryId,
	       			bb.MEMBER_ID		AS 	memberId,
                    bb.MEMBER_NAME		AS 		memberName,
	       		 	bb.ATTENDANCE_STATUS 	AS attendanceStatus,
	       			bb.CAUSE_STATUS 		AS 		causeStatus,
	        		RNUM+1 AS seq
					FROM( SELECT aa.CAUSE_ID, aa.WRITE_DATE, aa.CAUSE_CONTENT, CATEGORY_ID, aa.MEMBER_ID, aa.MEMBER_NAME, ATTENDANCE_STATUS, CAUSE_STATUS, ROWNUM AS RNUM
	            		FROM (
	                		SELECT  CAUSE_ID, CAUSE.WRITE_DATE, CAUSE.CAUSE_CONTENT, CATEGORY_ID, CAUSE.MEMBER_ID, MEMBERS.MEMBER_NAME, ATTENDANCE.ATTENDANCE_STATUS, CAUSE.CAUSE_STATUS
	                		FROM CAUSE, ATTENDANCE, MEMBERS
	                		WHERE ATTENDANCE.ATTENDANCE_ID = CAUSE.ATTENDANCE_ID AND CAUSE.MEMBER_ID = MEMBERS.MEMBER_ID
	                		ORDER BY WRITE_DATE DESC
	                	) aa
	        		) bb
			WHERE RNUM BETWEEN #{start} AND #{end}
		]]>
	</select>
	
	<select id="selectCauseDetail" parameterType="int" resultType="com.team4.myapp.cause.model.dto.CauseListDto">
		<![CDATA[
			SELECT 	CAUSE.CAUSE_ID 	AS	causeId,
					   WRITE_DATE 	AS 		writeDate,
					   CAUSE_CONTENT		AS 		content,
					   CAUSE.CATEGORY_ID		AS 		categoryId,
					   MEMBERS.MEMBER_ID		AS 	memberId,
				       MEMBER_NAME		AS 		memberName,
					   ATTENDANCE_STATUS 	AS attendanceStatus,
					   CAUSE_STATUS 		AS 		causeStatus,
					   FILE_SIZE AS fileSize,
					   FILE_CONTENT_TYPE AS fileContentType,
					   FILE_DATA 	AS 		fileData,
					   FILE_NAME AS fileName,
					   to_char(ATTENDANCE_DATE,'yyyy-MM-dd') AS attendanceDate
			FROM CAUSE, ATTENDANCE, MEMBERS 
			WHERE CAUSE.ATTENDANCE_ID = ATTENDANCE.ATTENDANCE_ID AND MEMBERS.MEMBER_ID = CAUSE.MEMBER_ID AND CAUSE.CAUSE_ID=#{causeId}
		]]>
	</select>
	
	<update id="updateCauseFile" parameterType="com.team4.myapp.cause.model.Cause">
		<![CDATA[
			UPDATE CAUSE
				SET CAUSE_CONTENT=#{content}, 
					FILE_NAME=#{fileName},
					FILE_SIZE=#{fileSize},
					FILE_CONTENT_TYPE=#{fileContentType},
					FILE_DATA=#{fileData},
					WRITE_DATE = SYSDATE
			WHERE CAUSE_ID=#{causeId}
		]]>
	</update>
	
	<update id="updateCauseContent" parameterType="string">
		<![CDATA[
			UPDATE CAUSE SET CAUSE_CONTENT = #{content}
		]]>
	</update>
	
	<delete id="deleteCause" parameterType="int">
		<![CDATA[
			DELETE FROM CAUSE WHERE CAUSE_ID=#{causeId}
		]]>
	</delete>
	
	<update id="accept" parameterType="hashmap">
	<![CDATA[
		UPDATE cause 
			SET CAUSE_STATUS = #{causeStatus}
		WHERE CAUSE_ID=#{causeId}
	]]>
	</update>
	
	<select id="getSubmitStatusNo" parameterType="int" resultType="int">
		<![CDATA[
			SELECT COUNT(*) AS count FROM CAUSE where CAUSE_STATUS=#{status}
		]]>
	</select> 
	
	<select id="selectCauseListAdminDate" parameterType="hashmap" resultType="com.team4.myapp.cause.model.dto.CauseListDto">
		<![CDATA[
				SELECT bb.CAUSE_ID 	AS	causeId,
	        		WRITE_DATE 	AS 		writeDate,
	        		CAUSE_CONTENT		AS 		content,
	        		CATEGORY_ID		AS 		categoryId,
	       			bb.MEMBER_ID		AS 	memberId,
                    bb.MEMBER_NAME		AS 		memberName,
	       		 	bb.ATTENDANCE_STATUS 	AS attendanceStatus,
	       		 	ATTENDANCE_DATE	AS attendanceDate,
	       			bb.CAUSE_STATUS 		AS 		causeStatus,
	        		RNUM+1 AS seq
					FROM( SELECT aa.CAUSE_ID, aa.WRITE_DATE, aa.CAUSE_CONTENT, CATEGORY_ID, aa.MEMBER_ID, aa.MEMBER_NAME, ATTENDANCE_STATUS, ATTENDANCE_DATE, CAUSE_STATUS, ROWNUM AS RNUM
	            		FROM (
	                		SELECT  CAUSE_ID, CAUSE.WRITE_DATE, CAUSE.CAUSE_CONTENT, CATEGORY_ID, CAUSE.MEMBER_ID, MEMBERS.MEMBER_NAME, ATTENDANCE_STATUS, to_char(ATTENDANCE.ATTENDANCE_date,'yyyy-MM-dd') AS ATTENDANCE_DATE, CAUSE.CAUSE_STATUS 
	                		FROM CAUSE, ATTENDANCE, MEMBERS
	                		WHERE ATTENDANCE_DATE=#{date} AND ATTENDANCE.ATTENDANCE_ID = CAUSE.ATTENDANCE_ID AND CAUSE.MEMBER_ID = MEMBERS.MEMBER_ID
	                		ORDER BY WRITE_DATE DESC
	                	) aa
	        		) bb
			WHERE RNUM BETWEEN #{start} AND #{end}
		]]>
	</select>
	
	<select id="getSubmitStatusDateNo" parameterType="hashmap" resultType="int">
		<![CDATA[
			SELECT COUNT(*) AS count FROM CAUSE c, ATTENDANCE a where to_char(ATTENDANCE_DATE,'yyyy-MM-dd')=#{date} AND a.ATTENDANCE_ID=c.ATTENDANCE_ID AND CAUSE_STATUS=#{status}
		]]>
	</select> 
	
	<select id="selectDateCount" parameterType="string" resultType="int">
		<![CDATA[
			SELECT COUNT(*) AS count FROM CAUSE c, ATTENDANCE a where to_char(ATTENDANCE_DATE,'yyyy-MM-dd')=#{date} AND a.ATTENDANCE_ID=c.ATTENDANCE_ID
		]]>
	</select> 
	
	<select id="selectByAttendanceId" parameterType="int" resultType="int">
		<![CDATA[
			SELECT 	CAUSE.CAUSE_ID 
			FROM CAUSE
			WHERE ATTENDANCE_ID = #{attendaceId}
		]]>
	</select>
	
</mapper>