<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team4.myapp.member.dao.ILectureRepository">

<select id="selectAllLecture" parameterType="String" resultType="com.team4.myapp.member.model.Lecture">
	<![CDATA[
		SELECT 
			lecture_id AS lectureId,
			lecture_name AS lectureName
		FROM 
			lecture
	]]>
</select>
<select id="selectAttendanceList" parameterType="map" resultType="com.team4.myapp.attendance.model.Attendance">
	<![CDATA[
		SELECT 
			member_name AS memberName,
			attendance_date AS attendanceDate,
			attendance_status AS attendanceStatus,	
			lecture_id AS lectureId		
		FROM 
			attendance a, members m
		WHERE
			a.member_id=m.member_id
		AND
			to_char(a.attendance_date,'YYYY-MM-DD')=#{today}
		AND
			lecture_id=#{lectureId}
	]]>
</select>
</mapper>