<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.team4.myapp.attendance.dao.IAttendanceRepository">

	<select id="selectMemberAttendance" parameterType="map"
		resultType="com.team4.myapp.attendance.model.Attendance">
		<![CDATA[
			select 
			ATTENDANCE_ID as attendanceId, 
			CHECK_IN as checkIn,
			CHECK_OUT as checkOut,
			ATTENDANCE_DATE as attendanceDate, 
			ATTENDANCE_STATUS as attendanceStatus, 
			SUBMIT_STATUS as submitStatus, 
			MEMBER_ID as memberId
			
			from attendance
			where member_id = #{memberId}
		]]>
	</select>

	<insert id="insertAttendance" parameterType="string">
		<![CDATA[
			insert into attendance(ATTENDANCE_ID, MEMBER_ID)	
			values(ATTENDANCE_SEQ.nextval, #{memberId})
		]]>
	</insert>

	<update id="updateCheckIn" parameterType="map">
		<![CDATA[
			update attendance 
			set 
			CHECK_IN  = #{attendance.checkIn},
			ATTENDANCE_STATUS = #{attendance.attendanceStatus}
			where (MEMBER_ID = #{attendance.memberId}) and (to_char(ATTENDANCE_DATE, 'YYYY-MM-DD') = #{today})
		]]>
	</update>

	<update id="updateCheckOut" parameterType="map">

		update attendance
		set CHECK_OUT = CURRENT_TIMESTAMP
		<if test="attendanceStatus >= 0">
			, ATTENDANCE_STATUS =
			#{attendanceStatus}
		</if>
		where (MEMBER_ID = #{memberId}) and (to_char(ATTENDANCE_DATE,
		'YYYY-MM-DD')
		= #{today})

	</update>

	<select id="selectId" parameterType="map" resultType="int">
		<![CDATA[
			select ATTENDANCE_ID  from attendance
			where (MEMBER_ID = #{memberId}) and (to_char(ATTENDANCE_DATE, 'YYYY-MM-DD') = #{today})
		]]>
	</select>

	<select id="selectAttendanceId" parameterType="map"
		resultType="int">
		<![CDATA[
			select ATTENDANCE_ID  FROM ATTENDANCE
			WHERE (MEMBER_ID = #{memberId}) and (to_char(ATTENDANCE_DATE, 'YYYY-MM-DD') = #{attendanceDate})
		]]>
	</select>

	<select id="selectCheckIn" parameterType="map"
		resultType="string">
      <![CDATA[
         select to_char(CHECK_IN, 'YYYY/MM/dd HH24:mi:ss')       
         from attendance
         where (MEMBER_ID = #{memberId}) and (to_char(ATTENDANCE_DATE, 'YYYY-MM-DD') = #{today})
      ]]>
	</select>

	<select id="selectCheckOut" parameterType="map"
		resultType="string">
		<![CDATA[
			select to_char(CHECK_OUT, 'YYYY/MM/dd HH24:mi:ss') 			
			from attendance
			where (MEMBER_ID = #{memberId}) and (to_char(ATTENDANCE_DATE, 'YYYY-MM-DD') = #{today})
		]]>
	</select>

	<insert id="insertFutureAttendance"
		parameterType="com.team4.myapp.attendance.model.Attendance">
		<![CDATA[
			INSERT INTO ATTENDANCE(ATTENDANCE_ID, ATTENDANCE_DATE, MEMBER_ID) 
			VALUES (attendance_seq.nextval, #{attendanceDate}, #{memberId})
		]]>
	</insert>

	<select id="selectDataAndCategory" parameterType="int"
		resultType="com.team4.myapp.attendance.model.Attendance">
		<![CDATA[
			SELECT ATTENDANCE_ID AS attendanceId,
					ATTENDANCE_DATE AS attendanceDate,
					ATTENDANCE_STATUS AS attendanceStatus
			FROM ATTENDANCE WHERE ATTENDANCE_ID=#{attendanceId}
		]]>
	</select>

	<select id="selectCheckoutNull" parameterType="string"
		resultType="int">
		<![CDATA[
			select ATTENDANCE_ID  from attendance
			where CHECK_IN is not null and CHECK_OUT is null and to_char(ATTENDANCE_DATE, 'YYYY-MM-DD') = #{today}
		]]>
	</select>

	<select id="selectCheckInById" parameterType="int"
		resultType="string">
      <![CDATA[
         select to_char(CHECK_IN, 'HH24:mi:ss')       
         from attendance
         where ATTENDANCE_ID == #{attendanceId}
      ]]>
	</select>

	<update id="updateAttendanceStatusById" parameterType="map">
		<choose>
			<when test="attendanceId != null">
				update attendance
				set ATTENDANCE_STATUS =
				#{attendanceStatus}
				where ATTENDANCE_ID = #{attendanceId}
			</when>
			<otherwise>update attendance
				set ATTENDANCE_STATUS =
				#{attendanceStatus}
				where MEMBER_ID = #{memberId} and
				to_char(ATTENDANCE_DATE, 'YYYY-MM-DD') = #{today}
			</otherwise>
		</choose>
	</update>
</mapper>