<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.team4.myapp.attendance.dao.IAttendanceRepository">
	
	<select id="selectMemberAttendance" parameterType="map" resultType="com.team4.myapp.attendance.model.Attendance">
		<![CDATA[
			select 
			ATTENDANCE_ID as attendanceId, 
			CHECK_IN as checkIn,
			CHECK_OUT as checkOut,
			ATTENDANCE_DATE as attendanceDate, 
			ATTENDANCE_STATUS as attendanceStatus, 
			SUBMIT_STATUS as submitStatus, 
			MEMBER_ID as memberId
			
			from attendance
			where member_id = #{memberId}
		]]>
	</select>
	
	<insert id="insertAttendance" parameterType="string">
		<![CDATA[
			insert into attendance(ATTENDANCE_ID, MEMBER_ID)	
			values(ATTENDANCE_SEQ.nextval, #{memberId})
		]]>
	</insert>
	
	<update id="updateCheckIn" parameterType="map">
		<![CDATA[
			update attendance 
			set 
			CHECK_IN  = #{attendance.checkIn},
			ATTENDANCE_STATUS = #{attendance.attendanceStatus}
			where (MEMBER_ID = #{attendance.memberId}) and (to_char(ATTENDANCE_DATE, 'YYYY-MM-DD') = #{today})
		]]>
	</update>
	
	<update id="updateCheckOut" parameterType="map">

		update attendance
		set CHECK_OUT = CURRENT_TIMESTAMP
		<if test="attendanceStatus >= 0">
			, ATTENDANCE_STATUS =
			#{attendanceStatus}
		</if>
		where (MEMBER_ID = #{memberId}) and (to_char(ATTENDANCE_DATE,
		'YYYY-MM-DD')
		= #{today})

	</update>
	
	<select id="selectId" parameterType="map" resultType="int">
		<![CDATA[
			select ATTENDANCE_ID  from attendance
			where (MEMBER_ID = #{memberId}) and (to_char(ATTENDANCE_DATE, 'YYYY-MM-DD') = #{today})
		]]>
	</select>
	
	<select id="selectAttendanceId" parameterType="map" resultType="int">
		<![CDATA[
			select ATTENDANCE_ID  FROM ATTENDANCE
			WHERE (MEMBER_ID = #{memberId}) and (to_char(ATTENDANCE_DATE, 'YYYY-MM-DD') = #{attendanceDate})
		]]>
	</select>
	
	<select id="selectCheckIn" parameterType="map"
      resultType="string">
      <![CDATA[
         select to_char(CHECK_IN, 'YYYY/MM/dd HH24:mi:ss')       
         from attendance
         where (MEMBER_ID = #{memberId}) and (to_char(ATTENDANCE_DATE, 'YYYY-MM-DD') = #{today})
      ]]>
   </select>
   
	<select id="selectCheckOut" parameterType="map"
		resultType="string">
		<![CDATA[
			select to_char(CHECK_OUT) 			
			from attendance
			where (MEMBER_ID = #{memberId}) and (to_char(ATTENDANCE_DATE, 'YYYY-MM-DD') = #{today})
		]]>
	</select>
	
	<insert id="insertFutureAttendance" parameterType="map">
		<![CDATA[
			INSERT INTO ATTENDANCE(ATTENDANCE_ID, ATTENDANCE_DATE, MEMBER_ID) 
			VALUES (attendance_seq.nextval, #{attendanceDate}, #{memberId})
		]]>
	</insert>
	
	<select id="selectDataAndCategory" parameterType="int" resultType="com.team4.myapp.attendance.model.Attendance">
		<![CDATA[
			SELECT ATTENDANCE_ID AS attendanceId,
					ATTENDANCE_DATE AS attendanceDate,
					ATTENDANCE_STATUS AS attendanceStatus
			FROM ATTENDANCE WHERE ATTENDANCE_ID=#{attendanceId}
		]]>
	</select>	
	
	<update id="changeSubmitStatus" parameterType="map">
		<![CDATA[	
			UPDATE ATTENDANCE SET SUBMIT_STATUS = #{s_status} WHERE ATTENDANCE_ID = #{attendanceId}
		]]>
	</update>
	
	<select id="selectStatus" resultType="com.team4.myapp.util.scheduler.dto.Statistics">
	<![CDATA[
		SELECT
			m.member_id AS memberId, 
			a.attendance_status AS attendanceStatus
		FROM
			members m, attendance a
		WHERE 
			IDENTITY = 'student'
		AND
			m.member_id=a.member_id
		AND
			to_char(a.attendance_date,'YYYY-MM-DD')=#{yesterday}
	]]>
	</select>
	<update id="insertToday" parameterType="map">
			UPDATE STATISTICS
			SET
			<choose>
			<when test="attendanceStatus==0">
				ABSENT = (
						SELECT
							(S.ABSENT+1) AS ABSENT
						FROM
							STATISTICS S, ATTENDANCE A
						WHERE
							S.MEMBER_ID=A.MEMBER_ID 
						AND
							to_char(A.attendance_date,'YYYY-MM-DD')=#{yesterday}
						AND
							to_char(YEAR)=#{year}
						AND
							to_char(month)=to_number(#{month})
						AND
							A.MEMBER_ID = #{memberId}
						)
				WHERE member_id=#{memberId}
			</when>
			<when test="attendanceStatus==1">
				attendance = (
						SELECT 
							attendance+1 AS attendance
						FROM
							STATISTICS S, ATTENDANCE A
						WHERE
							S.MEMBER_ID=A.MEMBER_ID 
						AND
							to_char(a.attendance_date,'YYYY-MM-DD')=#{yesterday}
						AND
							to_char(YEAR)=#{year}
						AND
							to_char(month)=#{month}
						AND
							A.MEMBER_ID = #{memberId}
						)
				WHERE member_id=#{memberId}
			</when>
			<when test="attendanceStatus==2">
				late = (
						SELECT 
							late+1 AS late
						FROM
							STATISTICS S, ATTENDANCE A
						WHERE
							S.MEMBER_ID=A.MEMBER_ID 
						AND
							to_char(a.attendance_date,'YYYY-MM-DD')=#{yesterday}
						AND
							to_char(YEAR)=#{year}
						AND
							to_char(month)=#{month}
						AND
							A.MEMBER_ID = #{memberId}
						)
				WHERE member_id=#{memberId}
			</when>
			<when test="attendanceStatus==3">
				leave = (
						SELECT 
							leave+1 AS leave
						FROM
							STATISTICS S, ATTENDANCE A
						WHERE
							S.MEMBER_ID=A.MEMBER_ID 
						AND
							to_char(a.attendance_date,'YYYY-MM-DD')=#{yesterday}
						AND
							to_char(YEAR)=#{year}
						AND
							to_char(month)=#{month}
						AND
							A.MEMBER_ID = #{memberId}
						)
				WHERE member_id=#{memberId}
			</when>
			</choose>
	</update>
	<select id="selectCheckoutNull" parameterType="string"
		resultType="int">
		<![CDATA[
			select ATTENDANCE_ID  from attendance
			where CHECK_IN is not null and CHECK_OUT is null and to_char(ATTENDANCE_DATE, 'YYYY-MM-DD') = #{today}
		]]>
	</select>

	<select id="selectCheckInById" parameterType="int"
		resultType="string">
      <![CDATA[
         select to_char(CHECK_IN, 'HH24:mi:ss')       
         from attendance
         where ATTENDANCE_ID == #{attendanceId}
      ]]>
	</select>
	
	<update id="attendanceUcc" parameterType="hashmap">
	<![CDATA[
		UPDATE ATTENDANCE 
			SET SUBMIT_STATUS = #{submitStatus}
		WHERE ATTENDANCE_ID=(select ATTENDANCE_ID  from cause where CAUSE_ID=#{causeId})
	]]>
	</update>
	
	<insert id="insertMonthSchedule" parameterType="hashmap">
		<![CDATA[
			INSERT INTO STATISTICS(MEMBER_ID, YEAR, MONTH, ATTENDANCE, LATE, ABSENT, LEAVE) 
			VALUES (#{member}, #{year}, #{month}, 0, 0, 0, 0)
		]]>
	</insert>

	<update id="updateAttendanceStatusById" parameterType="map">
		<choose>
			<when test="attendanceId != null">
				update attendance
				set ATTENDANCE_STATUS =
				#{attendanceStatus}
				where ATTENDANCE_ID = #{attendanceId}
			</when>
			<otherwise>update attendance
				set ATTENDANCE_STATUS =
				#{attendanceStatus}
				where MEMBER_ID = #{memberId} and
				to_char(ATTENDANCE_DATE, 'YYYY-MM-DD') = #{today}
			</otherwise>
		</choose>
	</update>

</mapper>