<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.team4.myapp.attendance.dao.IAttendanceRepository">
	
	<select id="selectMemberAttendance" parameterType="map" resultType="com.team4.myapp.attendance.model.Attendance">
		<![CDATA[
			select 
			ATTENDANCE_ID as attendanceId, 
			CHECK_IN as checkIn,
			CHECK_OUT as checkOut,
			ATTENDANCE_DATE as attendanceDate, 
			ATTENDANCE_STATUS as attendanceStatus, 
			SUBMIT_STATUS as submitStatus, 
			MEMBER_ID as memberId
			
			from attendance
			where member_id = #{memberId}
		]]>
	</select>
	
	<insert id="insertAttendance" parameterType="string">
		<![CDATA[
			insert into attendance(ATTENDANCE_ID, MEMBER_ID)	
			values(ATTENDANCE_SEQ.nextval, #{memberId})
		]]>
	</insert>
	
	<update id="updateCheckIn" parameterType="map">
		<![CDATA[
			update attendance 
			set 
			CHECK_IN  = #{attendance.checkIn},
			ATTENDANCE_STATUS = #{attendance.attendanceStatus}
			where (MEMBER_ID = #{attendance.memberId}) and (to_char(ATTENDANCE_DATE, 'YYYY-MM-DD') = #{today})
		]]>
	</update>
	
	<update id="updateCheckOut" parameterType="map">

		update attendance
		set CHECK_OUT = CURRENT_TIMESTAMP
		<if test="attendanceStatus >= 0">
			, ATTENDANCE_STATUS =
			#{attendanceStatus}
		</if>
		where (MEMBER_ID = #{memberId}) and (to_char(ATTENDANCE_DATE,
		'YYYY-MM-DD')
		= #{today})

	</update>
	
	<select id="selectId" parameterType="map" resultType="int">
		<![CDATA[
			select ATTENDANCE_ID  from attendance
			where (MEMBER_ID = #{memberId}) and (to_char(ATTENDANCE_DATE, 'YYYY-MM-DD') = #{today})
		]]>
	</select>
	
	<select id="selectAttendanceId" parameterType="map" resultType="int">
		<![CDATA[
			select ATTENDANCE_ID  FROM ATTENDANCE
			WHERE (MEMBER_ID = #{memberId}) and (to_char(ATTENDANCE_DATE, 'YYYY-MM-DD') = #{attendanceDate})
		]]>
	</select>
	
	<select id="selectCheckIn" parameterType="map"
      resultType="string">
      <![CDATA[
         select to_char(CHECK_IN, 'YYYY/MM/dd HH24:mi:ss')       
         from attendance
         where (MEMBER_ID = #{memberId}) and (to_char(ATTENDANCE_DATE, 'YYYY-MM-DD') = #{today})
      ]]>
   </select>
   
	<select id="selectCheckOut" parameterType="map"
		resultType="string">
		<![CDATA[
			select to_char(CHECK_OUT) 			
			from attendance
			where (MEMBER_ID = #{memberId}) and (to_char(ATTENDANCE_DATE, 'YYYY-MM-DD') = #{today})
		]]>
	</select>
	
	<insert id="insertFutureAttendance" parameterType="com.team4.myapp.attendance.model.Attendance">
		<![CDATA[
			INSERT INTO ATTENDANCE(ATTENDANCE_ID, ATTENDANCE_DATE, MEMBER_ID) 
			VALUES (attendance_seq.nextval, #{attendanceDate}, #{memberId})
		]]>
	</insert>
	
	<select id="selectDataAndCategory" parameterType="int" resultType="com.team4.myapp.attendance.model.Attendance">
		<![CDATA[
			SELECT ATTENDANCE_ID AS attendanceId,
					ATTENDANCE_DATE AS attendanceDate,
					ATTENDANCE_STATUS AS attendanceStatus
			FROM ATTENDANCE WHERE ATTENDANCE_ID=#{attendanceId}
		]]>
	</select>	
		
	<update id="attendanceUcc" parameterType="hashmap">
	<![CDATA[
		UPDATE ATTENDANCE 
			SET SUBMIT_STATUS = #{submitStatus}
		WHERE ATTENDANCE_ID=(select ATTENDANCE_ID  from cause where CAUSE_ID=#{causeId})
	]]>
	</update>
	
	<insert id="insertMonthSchedule" parameterType="hashmap">
		<![CDATA[
			INSERT INTO STATISTICS(MEMBER_ID, YEAR, MONTH, ATTENDANCE, LATE, ABSENT, LEAVE) 
			VALUES (#{member}, #{year}, #{month}, 0, 0, 0, 0)
		]]>
	</insert>
	
</mapper>