<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team4.myapp.reply.dao.IReplyRepository">
<insert id="writeReply" parameterType="com.team4.myapp.reply.model.Reply">
	 <![CDATA[
	 	insert into reply (REPLY_ID, MASTER_ID, REPLY_DATE, CONTENT,BOARD_ID, MEMBER_ID)
	 	VALUES (REPLY_SEQ.nextval,0,SYSDATE,#{content},#{boardId},#{memberId})
	 ]]>
	</insert>

</mapper>